[Unit]
Description=Update trackerlist for Transmission
After=network.target

[Service]
Type=oneshot
ExecStart=/path/to/your/python/binary /path/to/main.py
WorkingDirectory=/path/of/main.py
User=myuser
Group=myuser
